{% extends "admin/base_site.html" %}

{% block content %}
<div id="content-main">
    <p><a href="{{ change_url }}">← Tillbaka till {{ achievement }}</a></p>

    <form method="post" novalidate>
        {% csrf_token %}
        {{ form.non_field_errors }}
        <fieldset class="module aligned">
            {% for field in form %}
            <div class="form-row">
                {{ field.errors }}
                {{ field.label_tag }}
                {{ field }}
                {% if field.help_text %}<div class="help">{{ field.help_text }}</div>{% endif %}
            </div>
            {% endfor %}
        </fieldset>
        <div class="submit-row">
            <input type="submit" value="Tilldela nivå" class="default">
        </div>
    </form>
</div>
{% endblock %}
