{% extends "base.html" %}

{% block title %}Logga in | Odlingskampanjen{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
        <h1>Logga in</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
            <button class="btn btn-primary" type="submit">Logga in</button>
        </form>
        <p class="mt-3"><a href="{% url 'password_reset' %}">Glömt lösenord?</a></p>
        <p><a href="{% url 'register' %}">Skapa konto</a></p>
    </div>
</div>
{% endblock %}
