{% extends "base.html" %}

{% block title %}Log in | SARF Breeder Award{% endblock %}

{% block content %}
<div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6">
        <h1>Log in</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            {% if next %}<input type="hidden" name="next" value="{{ next }}">{% endif %}
            <button class="btn btn-primary" type="submit">Log in</button>
        </form>
        <p class="mt-3"><a href="{% url 'register' %}">Create account</a></p>
    </div>
</div>
{% endblock %}
